body {
    background-color: rgb(247, 247, 240);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    position: relative;
}

#footer {
    font-weight: bold;
    position: relative;
}

#footer-absolute {
    position: absolute;
    top: 750px;
    left: 45%;
}